{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
<div class="mainbody container-fluid">
    <div class="row">

        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">

                            <img class="thumbnail img-responsive" src="{{company_profile.company_image.url}}" width="300px" height="300px">


                            <!-- <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px"> -->
                        </div>
                        <div class="media-body">
                            <hr>
                            <h4><strong>Description</strong></h4>
                            <p>{{company_profile.description}}</p>
                            <hr>
                            <h4><strong>Location</strong></h4>
                            <p>{{company_profile.location}}</p>
                            <hr>
                            <h4><strong>Contact</strong></h4>
                            <p>{{company_profile.contact_number}}</p>
                            <hr>
                            <h4><strong>Email</strong></h4>
                            <p>{{company_profile.email}}</p>
                            <hr>
                            <h4><strong>Website</strong></h4>
                            <p><a href="{{company_profile.website_url}}"  target="_blank">{{company_profile.website_url}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span>
                        <h1 class="panel-title pull-left" style="font-size:30px;">{{company_profile.facility_name}}</h1>
                        <div class="dropdown pull-right">
                            <a href="{%url 'edit-company-profile' pk=company_profile.pk%}" class="btn btn-success dropdown-toggle" type="button">
                                Edit profile
                            </a>
                        </div>
                    </span>
                    <br><br>
                    <i class="fa fa-tags" aria-hidden="true"></i> {{company_profile.specialization}}
                    <br><br><hr>
                    <span class="pull-left">
                        Admin details:
                        <i class="fa fa-fw fa-user-o" aria-hidden="true"></i> {{company_profile.admin_name}}
                        <i class="fa fa-fw fa-phone" aria-hidden="true"></i> {{company_profile.admin_contact}}
                    </span>
                    <span class="pull-right">
                         MD Details:
                        <i class="fa fa-fw fa-user-o" aria-hidden="true"></i> {{company_profile.md_name}}
                        <i class="fa fa-fw fa-phone" aria-hidden="true"></i> {{company_profile.md_contact}}
                    </span>
                    <br>
                    <hr>
                    working hours:
                    <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> {{company_profile.working_hours}}
                </div>
            </div>


            </div>
        </div>
    </div>
</div>
