{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<!-- <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> -->
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<p>Nkomor account password reset</p>
<p>{% trans "Your password has been set.  You may go ahead and log in to the ras app now." %}</p>

<!-- <p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p> -->

{% endblock %}

